@media only screen and (max-width: 1050px) {
    canvas {
        width: 100%;
    }
    }

body {
    text-align: center;
    background-color: rgb(218, 240, 240);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    border: solid rgb(255, 255, 255);
    border-radius: 8px;
}