.container1{
    position: relative;
    justify-content: center;
    height: 700px;
    width: 390px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    background-color: rgba(234, 196, 226, 0.749);
    border-color: rgb(207, 218, 233);

}

.title{
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    position: relative;
    left: 100px;
}

#inputproduct{
width: 320px;
height: 20px;
position: relative;
background-color: rgb(255, 255, 255);
left: 30px;
top: 8px;
border-style: ridge;
}

#trash{
    opacity: 0.5;
    position: relative;
    left: 320px;
    top: -17px;
}

#trash:hover {
    opacity: 1;
}

#check {
   left: 10;
   position: absolute;
}

li:hover{
    background-color: lightgrey;
    width: 367px;
}

#add{
   position: relative;
   left: 14px;
   top: 6px;
   
}


button:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

#check {
  background-color: lightgrey;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Einkaufswagen\ Kopie\ 3.jpg);
}

#amount {
    position: relative;
    left: 110px;
    width: 150px;
    height: 20px;
    top: 4px;
}

#inputcomment {
    position: relative;
    left: 110px;
    width: 150px;
    height: 20px;
    top: 0px;
}

#date {
    position: relative;
    left: 110px;
    width: 150px;
    height: 20px;
    top: -4px;
}

fieldset {
    border: none;
}

#allinputs {
    border: none;
}

#edit {
    color: black;
    opacity: 0.5;
    position: relative;
    left: 350px;
    top: -35px;
}

#edit:hover {
    opacity: 1;
}

#alloutputs {
    border-style: none;
    width: 395px;
    height: 410px;
    position: relative;
    left: 6px;
}

.checkbox {
    position: relative;
    left: 1px;
}

#buy{
    color: rgb(0, 0, 0);
    font-size: smaller;
    position: relative;
    left: 128px;
}

#checkboxdate{
    position: relative;
    left: 130px;
    width: 20px;
    height: 20px;
    top: 4.5px;
}

.checkbox1{
    position: relative;
}

#add{
    background-color: rgb(169, 207, 233);
    width: 80px;
    height: 25px;
    position: relative;
    left: 170px;
    border-radius: 10%;
    top: -10px;
    opacity: 0.7;
}

#button{
    position: relative;
    top: -190px;
}