body{
    background-color: rgb(177, 145, 124);
    }

#inventory{

    font-weight: bold;
    margin-top: -20px;
}

h1{

    font-family: fantasy;
    position: relative;
    right: 115px;
}

#farm {
  
    position: relative;
    left: 400px;
    top: 10px;

}

#nextDay{

   position: relative;
   left: 100px;
   top: -40px;
   border-color: rgb(255, 255, 255);
   background-color: rgb(123, 84, 70);
   
}
