body {
    background-image: url(./Einkaufswagen.jpg);
    text-align: center;

}

h1 {
    color: rgb(251, 251, 251);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    height: 100px;
    margin: 0px;
    padding-top: 60px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    text-align: center;
    position: relative;
    left: 18%;
    right: 25%;
    background-color: rgb(250, 238, 250);
    transform: translateX(-50%);
    border: black solid;
    height: 800px;
    width: 450px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    
   
}

.box {
    background-color:rgb(238, 194, 224);
    background-size: cover;
}

#counterItem {
    color: rgb(255, 255, 255);
}

#toDo {
    width: 400px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.divLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.checkBox {
    cursor: pointer;
}

.container {

   
    padding: 20px;
    align-items: center;
    background-color: white;
    width: 364px;
    height: 30px;
    position: relative;
    left:3.2%;
  
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: rgb(99, 99, 99);
    outline: none;
}